.item {
  position: relative;
  width: 10em;
  min-width: 10em;
  height: 10em;
  overflow: hidden;
  text-align: center;
  margin: 0.7rem;
  border-radius: 50%;
  border: 0.3em solid rgb(161, 127, 31);
}

.item img {
  width: 100%;
  height: auto;
}

.item img.gray {
  filter: grayscale(100%);
}

.item img.notgray {
  filter: grayscale(0%);
}

.item .name {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity linear 0.4s;
  opacity: 0;
}

.name.hovered {
  z-index: 10;
  opacity: 1;
}

.item:hover {
  cursor: pointer;
  filter: grayscale(100%);
}
